@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: beige;
    padding-top: 2rem;
}

.container {
    width: 80%;
    min-height: 60%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
}

.product-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
    background: beige;
}

.product-grid .product {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border-radius: .7rem;
    position: relative;
}

.product .add-to-cart-container {
    position: absolute;
    width: 80%;
    display: flex;
    height: 50px;
    display: flex;
    align-self: center;
    top: 62%;
    border-radius: 2rem;
}

.add-to-cart-container .add-to-cart {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #fcfdfd;
    border: 1px solid crimson;
    cursor: pointer;
    border-radius: 2rem;
}

.add-to-cart-container .update-product-count {
    width: 100%;
    height: 100%;
    background: rgb(186, 63, 6);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #fff;
}

.update-product-count button {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.update-product-count button:hover {
    background: #fff;
}

.svg {
    fill: #fff;
}

.update-product-count button:hover .svg {
    fill: rgb(213, 119, 11);
}

.product .product-img {
    display: flex;
    border-radius: inherit;
}

.product-img img {
    width: 100%;
    border-radius: inherit;
}

.product .product-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.faded {
    color: rgb(0, 0, 0, .6);
}

.bold {
    font-weight: 650;
}

.product-info .price-container {
    color: rgb(210, 67, 67);
    font-weight: 600;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.cart {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #fff;
    border-radius: .7rem;
    padding: 1rem;
}

.cart h1 {
    color: red;
}

.cart .remove-item {
    border: 0;
    width: 20px;
    height: 20px;
    color: gray;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #808080;
    cursor: pointer;
}

.cart .remove-item:hover {
    color: crimson;
    border:2px solid red;
}

.cart .cart-products {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.cart .in-cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: .2rem;
    padding-right: .2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid rgb(172, 206, 206);
}

.in-cart-product .product-details {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.product-details .price-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.price-details .items {
    color: crimson;
}

.cart .line-break {
    width: 100%;
    align-self: center;
    height: 1px;
    background: rgb(243, 227, 227);
}

.none {
    display: none !important;
}